@media (max-width: 1080px) {
  .Home,
  .Drawings,
  .Drawings2,
  .Poetry,
  .Poetry2,
  .Poetry3,
  .Poetry4,
  .Poetry5,
  .OC,
  .C1,
  .Participation,
  .AboutMe{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .drawgroup{
    grid-template-columns: 300px 300px;
    column-gap: 100px;
    margin-left: 150px;
    width: 700px;
  }

  .navigation{
    height: 150px;
    width: 1085px;
  }

  .buttons{
    font-size: 13px;
    margin-top: 35px;
    height: 80px;
    border-color: black;
  }

  .Logo{
    height: 215px;
    width: 230px;
  }

  .LogoImg{
    height: 215px;
    width: 230px;
  }

  .nextbutton{
    right: -950px;
    bottom: -240px;
  }

  .nextbutton3{
    right: -780px;
    bottom: -240px;
  }

  .nextbutton2{
    right: -850px;
  }

  .backbutton{
    bottom: -1560px;
  }

  .backbutton2{
    bottom: -245px;
  }

  .backbutton3{
    bottom: -220px;
  }

  .butterfly2{
    top: 275px;
    left: 75px;
  }

  .butterfly4{
    top: 175px;
  }

  .butterfly5{
    top: 1100px;
    right: 450px;
  }

  .drawingbox{
    height: 490px;
  }

  .poetrygroup{
    left: 245px;
  }

  .textbox{
    width: 450px;
    top: 150px;
    left: 100px;
  }

  .Ellie{
    top: 175px;
    left: 50px;
  }

  .poem2{
    padding-right: 10px;
  }

  .quote{
    left: 275px;
  }

  .craftgroup,
  .indexgroup,
  .partgroup{
    column-gap: 100px;
    top: 180px;
    left: 90px;
  }

  .craftbox,
  .indexbox,
  .indexpbox,
  .partbox,
  .bookbox{
    width: 400px;
  }

  .craftimg,
  .indeximg,
  .partimg,
  .bookimg{
    width: 400px;
  }

  .CImg,
  .CImgS{
    width: 200px;
  }

  .CGroup{
    grid-template-columns: 200px 200px 200px;
    margin: 80px;
  }

  .indextitle{
    font-size: 17px;
  }

  .IndexTextBox{
    left: 90px;
    width: 885px;
  }

  .bookbox{
    left: 370px;
  }
}