.Home,
.Drawings,
.Drawings2,
.Poetry,
.Poetry2,
.Poetry3,
.Poetry4,
.Poetry5,
.OC,
.C1,
.Participation,
.AboutMe{
  background-color: rgb(250, 250, 64);
  background-image: linear-gradient(to bottom right, rgba(252, 185, 196, 1),rgb(250, 250, 64));
  margin: 0px;
  background-attachment: fixed;
  overflow-x: hidden;
}


.Logo{
display: inline-block;
margin-top: 0px;
border-width: 2px;
border-color: black;
border-style: solid;
background-image: linear-gradient(to bottom right, yellow, orange);
border-top: transparent;
border-left-width: 0px;
border-bottom-right-radius: 20px; 
padding-top: 12px;
padding-bottom: 12px;
padding-left: 12px;
padding-right: 12px;
}

.LogoImg{
  width: 150px;
}

@font-face {font-family: Minnie; src: url('Minnie.TTF');}

.buttons{
  background-image: linear-gradient(to bottom right, yellow, orange);
  color: black;
  font-family: Minnie;
  font-size: 15px;
  border-radius: 4px;
  border-style: solid;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 10px;
  margin-left: 8px;
  transition: opacity 0.15s;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.buttons:hover{
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.buttons:active{
  opacity: 0.6;
}

.drawing{
  height: 400px;
  width: 300px;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}
.dtitle{
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.date{
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  margin-bottom: 8px;
  text-align: center;
}

.drawingbox{
  background-image: linear-gradient(to right, rgb(245, 187, 80), rgb(243, 97, 97));
  height: 490px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.6);
}

.boxdrawingarea{
  cursor: pointer;
  height: 400px;
  vertical-align: top;
}

.boxtextarea{
  align-items: center;
}

.drawgroup{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 75px;
  row-gap: 80px;
  width: 1425px;
  position: relative; left: 45px; top: 150px;
}

.textbox{
  display: inline-block;
  position: relative; left: 415px; top: 45px;
  background-image: linear-gradient(to bottom right, rgb(245, 187, 80), rgb(243, 97, 97));
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  width: 520px;
}

.Ellie{
  display: inline-block;
  position: relative; left: 190px; top: 120px;
  height: 550px;
  cursor: pointer;
}

.navigation{
  height: 80px;
  width: 980px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(to bottom right, rgb(248, 182, 61), rgb(244, 77, 77));
}

.butterfly1{
  height: 250px;
  width: 250px;
  opacity: 0.1;
  position: fixed; bottom: 50px; right: 100px; rotate: -50deg;
  z-index: -1;
}

.butterfly2{
  height: 250px;
  width: 250px;
  opacity: 0.1;
  position: fixed; top: 150px; left: 200px;
  z-index: -1;
}

.butterfly3{
  height: 150px;
  width: 150px;
  opacity: 0.1;
  position: fixed; bottom: 0px; left: 50px;
  z-index: -1;
}

.butterfly4{
  height: 150px;
  width: 150px;
  opacity: 0.1;
  position: fixed; top: 50px; right: 100px;
  z-index: -1;
}

.butterfly5{
  height: 150px;
  width: 150px;
  opacity: 0.1;
  position: fixed; top: 350px; right: 750px;
  z-index: -1;
}

.nextbutton,
.nextbutton2,
.nextbutton3{
  height: 100px;
  width: 100px;
  cursor: pointer;
  position: relative; bottom: -220px; right: -1380px;
}

.nextbutton2{
  right: -1280px;
}

.nextbutton3{
  bottom: 10px;
}

.nextbutton:hover,
.nextbutton2:hover,
.nextbutton3:hover{
  opacity: 0.7;
}

.nextbutton:active,
.nextbutton2:active,
.nextbutton3:active{
  opacity: 0.5;
}

.backbutton,
.backbutton2,
.backbutton3{
  height: 100px;
  width: 100px;
  cursor: pointer;
  position: relative; bottom: -220px; right: -40px;
}

.backbutton2{
  position: relative; bottom: -220px; right: 65px;
}

.backbutton:hover,
.backbutton2:hover{
  opacity: 0.7;
}

.backbutton:active,
.backbutton2:active{
  opacity: 0.5;
}

.poetrybox1,
.poetrybox2,
.poetrybox3,
.poetrybox4,
.poetrybox5,
.poetrybox6,
.poetrybox7,
.poetrybox8,
.poetrybox9,
.poetrybox10,
.poetrybox11,
.poetrybox12,
.poetrybox13,
.poetrybox14,
.poetrybox15{
  top: 300px;
  left: 500px;
  width: 600px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 8px;
  z-index: 0;
}

.poetrybox1{
  background-image: linear-gradient(to bottom right, rgb(111, 229, 247), rgb(246, 245, 245));  
}
.poetrybox2{
  background-image: linear-gradient(to bottom right, rgb(252, 178, 50), rgb(241, 104, 104));  
}

.poetrybox3{
  background-image: linear-gradient(rgb(77, 224, 241), rgb(106, 234, 244));  
}

.poetrybox4{
  background-image: linear-gradient(rgb(92, 222, 92), rgb(58, 191, 58));
}

.poetrybox5{
  background-image: linear-gradient(to bottom right, rgb(245, 187, 80), rgb(243, 97, 97));
}

.poetrybox6{
  background-image: linear-gradient(to bottom right, rgb(229, 235, 80), rgb(240, 126, 239));
}

.poetrybox7{
  background-image: linear-gradient(to bottom right,rgb(227, 100, 20), rgb(154, 3, 30));
}

.poetrybox8{
  background-image: linear-gradient(to bottom right,rgb(217, 189, 143), rgb(217, 189, 143));
}

.poetrybox9{
  background-image: linear-gradient(to right, rgb(133,20,114), rgb(206,75,148));
}

.poetrybox10{
  background-image: linear-gradient(to bottom right,rgb(239, 141, 231), rgb(236, 107, 107));
}

.poetrybox11{
  background-image: linear-gradient(rgb(255, 255, 255), rgb(11, 221, 11), rgb(236, 34, 34));
}

.poetrybox12{
  background-image: linear-gradient(to bottom right, rgb(211, 32, 32), rgb(238, 114, 114));
}

.poetrybox13{
  background-image: linear-gradient(to bottom right,rgb(72, 192, 32), rgb(72, 192, 32));
}

.poetrybox14{
  background-image: linear-gradient(to bottom right,rgb(101, 193, 212), rgb(186, 89, 186));
}

.poetrybox15{
  background-image: linear-gradient(to right,rgb(247, 247, 63),rgb(237, 140, 0));
}

.poemtitle,
.poemtitle2{
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 25px;
}

.poemtitle2{
  font-family: "Monotype Corsiva", serif;
}

.poem,
.poem2,
.poem3{
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
  z-index: 2;
}

.poem2{
  text-align: justify;
  padding-left: 8px;
}

.poem3{
  font-family: "Monotype Corsiva", serif;
  font-size: 22px;
}

.pbackground,
.pbackground9,
.ibackground{
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  bottom: 0px;
  opacity: 0.3;
  z-index: -1;
}

.pbackground9{
  height: 450px;
  object-fit: contain;
}

.poemdate{
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.poetrygroup{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 100px;
  width: 600px;
  position: relative; left: 475px; top: 150px;
}

.craftbox{
  top: 300px;
  left: 10px;
  width: 500px;
  background-image: linear-gradient(to right, rgb(245, 187, 80), rgb(243, 97, 97));
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 50px;
  vertical-align: top;
  z-index: 0;
}

.crafttitle{
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 23px;
}

.craft{
  position: relative;
  font-size: 20px;
  z-index: 2;
}

.craftimg{
  left: 0px;
  height: 600px;
  width: 500px;
  bottom: 0px;
  cursor: pointer;
}

.craftdate{
  font-size: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.craftgroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 200px;
  row-gap: 100px;
  width: 600px;
  position: relative; left: 160px; top: 150px;
}

.more{
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding: 5px;
  text-align: right;
  font-size: 18px;
}

.more:hover{
  text-decoration: underline;
  cursor: pointer;
}

.CGroup{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  row-gap: 50px;
  margin-left: 210px;
  margin-bottom: 50px;
}

.CTextBox{
  display: block;
  position: relative;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 25px;
  background-image: linear-gradient(to right, rgb(245, 187, 80), rgb(243, 97, 97));
}

.CImg,
.CImgS,
.CImgM{
  width: 300px;
  border-style: solid;
  border-radius: 2px;
  border-radius: 6px;
  border-color: black;
  vertical-align: top;
}

.CImgS,
.CImgM{
  margin-left: 200px;
  margin-bottom: 50px;
  vertical-align: middle;
}

.CImgM{
  margin-left: 400px;
}

.CBack,
.CBack2{
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.CBack2{
top: 30px;
}

.quote{
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  top: 5px;
  left: 185px;
  padding: 5px;
  width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.indexbox,
.indexpbox,
.bookbox{
  top: 300px;
  left: 10px;
  width: 500px;
  background-image: linear-gradient(to right, rgb(245, 187, 80), rgb(243, 97, 97));
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 50px;
  vertical-align: top;
  z-index: 0;
}

.bookbox{
  position: relative;
  top: 100px;
  left: 482.4px;
}

.indexp{
  background-image: linear-gradient(to bottom right, rgb(111, 229, 247), rgb(246, 245, 245));
}

.indextitle,
.booktitle{
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.booktitle{
  font-size: 16px;
}

.index,
.indexp,
.book{
  position: relative;
  font-size: 20px;
  z-index: 2;
}

.indextext{
  height: 600px;
  text-align: center;
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.indeximg,
.bookimg{
  left: 0px;
  height: 600px;
  width: 500px;
  bottom: 0px;
  cursor: pointer;
}

.indexdate{
  border-top-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  font-size: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.indexgroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 200px;
  row-gap: 50px;
  width: 600px;
  position: relative; left: 160px; top: 150px;
}

.toPoem{
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding: 5px;
  text-align: right;
  font-size: 18px;
}

.toPoem:hover{
  text-decoration: underline;
  cursor: pointer;
}

.categorytitle{
  height: 30px;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.categorytext{
  cursor: pointer;
}

.partbox{
  top: 300px;
  left: 10px;
  width: 500px;
  background-image: linear-gradient(to right, rgb(245, 187, 80), rgb(243, 97, 97));
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 50px;
  vertical-align: top;
  z-index: 0;
}

.parttitle{
  border-style: solid;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 23px;
}

.part{
  position: relative;
  font-size: 20px;
  z-index: 2;
}

.partimg{
  left: 0px;
  height: 600px;
  width: 500px;
  bottom: 0px;
  cursor: pointer;
}

.partdate{
  font-size: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.partgroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  column-gap: 200px;
  row-gap: 100px;
  width: 600px;
  position: relative; left: 160px; top: 150px;
}

.IndexTextBox{
  display: block;
  position: relative;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 6px;
  padding: 10px;
  font-size: 25px;
  top: 100px;
  left: 160px;
  width: 1185px;
  background-image: linear-gradient(to right, rgb(245, 187, 80), rgb(243, 97, 97));
}
